.mat-fab {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 3em;
    z-index: 9999 !important;
}

.map-container {
    position: relative !important;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 100%;
}


/*.map-frame {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 100%;
}*/

#map {
    position: absolute !important;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 100%;
}